PROJECT_NAME=AlertFlow
ENVIRONMENT=local
SECRET_KEY=changethisinproduction_atleast32charslong

POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=alertflow
POSTGRES_PASSWORD=alertflow
POSTGRES_DB=alertflow

REDIS_URL=redis://redis:6379/0

FIRST_SUPERUSER_EMAIL=admin@alertflow.com
FIRST_SUPERUSER_PASSWORD=alertflow123
